#homepageContact {
	padding: 0 15%;
}

form * {
    margin: 1%;
    font-size: 2vw;
    padding: .5vw;
}

input{
    flex-grow: auto;
}

textarea {
    width: 100%;
}

#contactHeader {
    width: auto;
    font-size: 3vw;
    color: #1d1d1d;
    text-shadow: grey 0.05vw 0.05vw;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff 65%, rgba(172,178,193,0.3) 30%);
    margin: auto;
    line-height: 100%;
    margin-bottom: 2.5%;
    margin-top: 2%;
}

#contactName {
    width: 30%;
}

#contactEmail{
    width: 60%;
}

#contactSubmit {
    font-weight: 600;
    font-size: 2.25vw;
    margin-top: 0;
}

