/* Service Tiles */
#services {
	margin-top: -3.5vw;
	margin-bottom: -8vw;
}

.serviceIconContainer{
	width: 24vw;
}
	
.serviceIconContainer img{
	width: 3.7vw;
	/* padding: .5vw 1vw; */
}

.serviceIconContainer picture{
		display: flex;
		padding: .5vw;
	}
	
.serviceIconContainer::before, .serviceIconContainer::after {
	content: "";
	border-top: .2vw white solid;
	width: 40%;
}
	
.serviceTile{
	width: 24vw;
	text-align: center;
	margin: auto;
}

.serviceTileContent *{
	margin: 1%;
}

.serviceTile h1{
	font-size: 1.8vw;
	font-weight: 500;
}
	
.serviceTileContent p{
	font-size: 1.4vw;
	font-weight: 500;
}



/* Hero Image */
#heroImage {
	background-image: url(images/lunarBackground.jpg);
	background-size: cover;
	height: 90vh;
}



#heroImage img {
	width: 27%;
	margin-bottom: 4vw;
}
#heroImage {
	height: 38vw;
}

/* Mission Banner */
#missionBanner{
	padding: 2vw 0;
	background-color: rgb(230, 231, 236);
	clip-path: polygon(0px 0px, 100% 2vw, 100% 100%, 0px calc(100% - 2vw));
	margin-top: -0.5vw;
	/* z-index: 300; */
}

#missionBanner h3{
	font-size: 2.25vw;
	margin: auto;
	padding: 0 5%;
	color: #1b1b1b;
	margin: 3.5% 0;
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	margin: auto;
}

#missionBanner img{
	width: 12vw;
	padding: 1.5% 1%;
	margin: auto;
	margin-top: -1vw;
}	
	
	
	
	
	
	
	
	





































/* Index */
#homepage-pitch {
	padding: 0 5%;
	font-size: 1.85vw;
	color: #1b1b1b;
	line-height: 140%;
	margin: 5.5vw 0;
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	
}

.text-highlight {
	background-color: rgba(180, 207, 221, 1);
	padding: 0;
	margin: 0;
	display: inline;
	font-size: 2vw;
}


#openingPitch h1{
	font-size: 2.25vw;
	padding: 0 5%;
	color: #1b1b1b;
	line-height: 140%;
	/* margin: 5.5vw 0; */
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
}

#goals{
	background-color: black;
	background-image: url(/images/lunar_eclipse_blood_moon_0.jpg);
	background-size: cover;
}

#goals h2{
	color: #F6F6F7;
	font-family: montserrat;
	margin: 2vw 0;
	font-size: 4vw;
	text-shadow: #4D5668 .3vw .25vw;
}

#goals p{
	font-size: 1.8vw;
	width: 28%;
	background-color: #FFFFFF;
	min-height: 13vw;
	box-shadow: #1b1b1b .3vw .3vw .5vw;
	font-weight: 600;
	font-family: montserrat;
	padding: 1vw;
	margin-bottom: -2vw;
	/* padding-bottom: 0vw; */
}

form {
	margin-top: 2vw;
}

#openingPitch{
	/* height: 30vw; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background: url(/images/bgroad.svg);
	background-size: 45%;
	background-position: left;
	background-repeat: no-repeat;
	/* height: 35vw; */
	padding-top: 11vw;
}

#openingPitch h1{
	padding: 0 3%;
	font-size: 2.75vw;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 0vw;
}
#homepage-pitch:first-of-type {
	/* font-size: 2.25vw; */
	/* width: 80%; */
	font-weight: 600;
}
#homepage-pitch {
	width: 80%;
	margin: 1.5vw 0;
	text-align: right;
	padding: 0 3%;
	font-size: 2.25vw;
	font-weight: 600;
	text-shadow: white .1vw .1vw .2vw;
}

.center{
	justify-content: center;
}

#ourWork img{
	width: 100%;
	/* height: 15vw; */
}
#ourWork h1{
	font-size: 2.75vw;
	margin-top: 1vw;
	margin-bottom: 2vw;
}

#ourWork section {
	width: 27%;
	margin: auto;
	display: block;
	/* height: 24vw; */
}

#ourWork section h1{
	font-size: 2.2vw;
	text-align: left;
	width: 100%;
	margin-bottom: .2vw;
}

#ourWork section h2{
	/* margin: 0; */
	text-align: left;
	width: 100%;
	font-size: 1.75vw;
}

@media only screen and (max-width: 800px) {
	
	#heroImage{
		height: 100vh;
	}
	#heroImage img {
		width: 60%;
	}
	#homepage-pitch{
		font-size: 4.5vw;
		font-weight: 600;
		padding:0 2%;
		line-height: 150%;
		text-align: justify;
	}
	.serviceTile{
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 6% 2%;
		background-color: unset;
	}

	.serviceIconContainer img{
		width: 20vw;
		opacity: .9;
	}
	
	.serviceTileContent{
		width: 72%;
		background-color: unset !important;
	}
	.serviceIconContainer {
		background-color: unset ;
	}



	.serviceTileContent h1{
		font-size: 6vw;
		/* color: rgba(27, 27, 27, 0.6784313725490196); */
		font-weight: 700;
		color: #1b1b1b;
		opacity: .9;
	}

	.serviceTileContent p{
		font-size: 3.75vw;
		text-align: inherit;
		width: 98%;
		/* display: none; */
		margin-left: 1vw;
		margin-right: 1vw;
		font-weight: 400;
	}

	.serviceTileContent a{
		font-size: 3vw;
		margin-top: 1vw;
	}

	#webDesign *, #onlineMarketing *{
		text-align: end;
		align-items: flex-end;
	}

	#ecommerce, #logosBranding{
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	#ecommerce *, #logosBranding *{
		text-align: start;
		align-items: flex-start;
	}

	.serviceTileContent p{
		text-align: end;
		line-height: 6vw;
		opacity: .85;
	}

	#missionBanner h3{
		font-size: 4.35vw;
		padding: 0 2%;
	}
	#missionBanner br{
		display: none;
	}
	
	#goals{
		background-size: 180%;
	}

	#goals div{
		flex-direction: column;
		align-items: unset;
	}

	#goals h2{
		font-size: 6.5vw;
		background: linear-gradient(#fff0 65%, #ab85763b 30%);
	}
	#goals p{
		width: 85%;
		min-height: 0;
		background: none;
		color: white;
		/* left: 0; */
		/* margin-right: 17%; */
		margin: 1vw 0;
		box-shadow: none;
		font-size: 3vw;
		font-weight: 600;
		background-color: #92939a1f;
	}
	#goals p:nth-child(2){
		width: 89%;
		/* padding-left: 35%; */
		text-align: end;
		right: 0;
		align-self: flex-end;
	}

	.text-highlight{
		font-size: 4vw;
	}

	#ourWork div {
		flex-wrap: wrap;
	}

	#ourWork h1{
		font-size: 4vw;
	}

	#ourWork section h1{
		font-size: 3.5vw;
	}
	#ourWork section h2{
		font-size: 3vw;
	}

	#ourWork section{
		width: 44%;
	}

	#openingPitch {
		background-size: 70%;
	}
	#openingPitch h1 {
		font-size: 4.5vw;
		text-align: right;
	}
	#homepage-pitch{
		font-size: 3.25vw;
		width: 90%;
		text-shadow: none;
	}
	
  }
