/* Uhhh???? */
/* Service Tiles */
#services {
	margin-top: -3.5vw;
	/* margin-bottom: -8vw; */
}

.serviceIconContainer{
	width: 100%;
	box-shadow: 0 0.03vw 0.1vw darkblue;
}
	
.serviceIconContainer img{
	width: 3.2vw;
	/* padding: .5vw 1vw; */
}

.serviceIconContainer picture{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: .5vw;
	}
	


.button {
	font-size: 1.1vw;
}

.serviceTile {
	width: 23vw;
	text-align: center;
	margin: auto;
	/* box-shadow: #3c4250 0.075vw 0.05vw 0.3vw; */
	border-radius: .15vw;
	overflow: hidden;
	padding-bottom: 0.25vw;
}

.serviceTileContent *{
	margin: 1%;
}

.serviceTile h1{
	font-size: 1.55vw;
	font-weight: 600;
	opacity: 0.77;
	margin-top: 0.5vw;
}
	
.serviceTileContent p{
	font-size: 1.2vw;
	font-weight: 500;
}



/* Hero Image */
#heroImage {
	background-image: url(images/lunarBackground.jpg);
	background-size: cover;
	height: 90vh;
}



#heroImage img {
	width: 22%;
	margin-bottom: 5vw;
	margin: auto 0;
}
#heroImage {
	height: 39vw;
	width: 100vw;
}

/* Mission Banner */
#missionBanner{
	padding: 2vw 0;
	background-color: rgb(230, 231, 236);
	-webkit-clip-path: polygon(0px 0px, 100% 2vw, 100% 100%, 0px calc(100% - 2vw));
	clip-path: polygon(0px 0px, 100% 2vw, 100% 100%, 0px calc(100% - 2vw));
	/* margin-top: -0.5vw; */
	/* z-index: 300; */
	justify-content: space-around;
	width: 100vw;
}

#missionBanner h1{
	font-size: 2vw;
	margin: auto;
	padding: 0 5%;
	color: #1b1b1b;
	margin: 3.5% 0;
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	margin: auto;
	line-height: 130%;
}

#missionBanner img{
	width: 12vw;
	padding: 1.5% 1%;
	margin: auto;
	margin-top: -1vw;
}	
	
	
	
	
	
	
	
	





































/* Index */
#homepage-pitch {
	padding: 0 5%;
	font-size: 1.85vw;
	color: #1b1b1b;
	line-height: 140%;
	margin: 5.5vw 0;
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
	
}

.text-highlight {
	background-color: rgba(180, 207, 221, 1);
	padding: 0;
	margin: 0;
	display: inline;
	font-size: 2vw;
}


#openingPitch h1{
	font-size: 2.25vw;
	padding: 0 5%;
	color: #1b1b1b;
	line-height: 140%;
	/* margin: 5.5vw 0; */
	text-shadow: grey 0.05vw 0.05vw;
	font-style: italic;
	font-weight: 500;
	text-align: left;
}

#goals{
	background-color: black;
	background-image: url(/images/lunar_eclipse_blood_moon_0.jpg);
	background-size: cover;
}

#goals h2{
	color: #F6F6F7;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 2vw 0;
	font-size: 4vw;
	text-shadow: #4D5668 .3vw .25vw;
}

#goals p{
	font-size: 1.8vw;
	width: 28%;
	background-color: #FFFFFF;
	min-height: 13vw;
	-webkit-box-shadow: #1b1b1b .3vw .3vw .5vw;
	        box-shadow: #1b1b1b .3vw .3vw .5vw;
	font-weight: 600;
	font-family: montserrat;
	padding: 1vw;
	margin-bottom: -2vw;
	/* padding-bottom: 0vw; */
}

form {
	margin-top: 2vw;
}

#openingPitch{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	background: url(/images/bgroad.svg);
	background-size: 45%;
	background-position: left;
	background-repeat: no-repeat;
	padding-top: 10vw;
	margin-left: -2vw;
	/* margin-bottom: -2vw; */
	padding-bottom: 5vw;
}

#openingPitch h1{
	padding: 0 3%;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 1.5vw;
	padding-top: 1.5%;
}
.homepage-pitch:first-of-type {
	/* font-size: 2.25vw; */
	/* width: 80%; */
	font-weight: 600;
}
.homepage-pitch {
	width: 72%;
	padding: .75vw 0;
	text-align: right;
	padding: 0 3%;
	font-size: 1.7vw;
	font-weight: 600;
	text-shadow: white 0.1vw 0.1vw 0.2vw;
	opacity: 0.85;
}

.center{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	/* justify-content: center; */
}

#ourWork img{
	width: 100%;
	/* height: 15vw; */
}
#ourWork h1{
	font-size: 2.75vw;
	margin-top: 1vw;
	margin-bottom: 2vw;
}

#ourWork section {
	width: 27%;
	margin: auto;
	display: block;
	/* height: 24vw; */
}

#ourWork section h1{
	font-size: 2.2vw;
	text-align: left;
	width: 100%;
	margin-bottom: .2vw;
}

#ourWork section h2{
	/* margin: 0; */
	text-align: left;
	width: 100%;
	font-size: 1.75vw;
}

#services{
	position: absolute;
	top: 45vw;
	/* padding: 0 2.5% 0 2%; */
	/* width: 96%; */
	width: 100%;
}

#webManagement{
	width: 96%;
	margin: auto;
	background: #dfe2ee59;
	/* padding: 1vw; */
	margin-top: 2vw;
}
#webManagement h1{
	font-size: 2.25vw;
}
#webManagement h2{
	font-size: 1.5vw;
	font-style: italic;
	font-weight: 300;
}
#webManagement h3{
	font-size: 1.25vw;
	width: 65%;
	text-align: center;
	margin: 0vw 0 1.5vw 0;
	font-weight: 500;
}
#webManagement hr{
	width: 96%;
	margin: 1vw;
	border: #a5a5a575 solid 0.01vw !important;
}
#webManagement section section{
	width: 30%;
	background-color: #E6E9F6;
	margin: 1vw .5vw;
	/* flex-grow: 1; */
	/* padding-top: 1vw; */
}#webManagement section section h1{
	font-size: 1.75vw;
	font-weight: 400;
	padding: 1vw;
}
#webManagement section section p{
	width: 95%;
	margin: auto;
	font-size: 1vw;
	text-align: center;
}
.price{
	/* margin-top: .75vw; */
	margin-left: -1vw;
	/* line-height: 3vw; */
	margin-right: 1.5vw;
}
.moneySymbol{
	font-size: 1.75vw;
	align-self: start;
	width: initial !important;
}
.serviceCost{
	font-size: 3vw;
}
.eachMonth{
	font-size: 0.75vw;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 1vw;
	margin-top: -.25vw;
	width: initial !important;
}

#webManagement section section ul{
	width: 98%;
	margin: auto;
	margin-bottom: 1vw;
}
#webManagement section section ul li{
	list-style: none;
	font-size: 1.15vw;
	/* font-family: roboto condensed; */
	margin: .5vw 0 .75vw 0;
}
#middleManagement{
	width: 33% !important;
}
#middleManagement h1{
	font-size: 1.8vw !important;
	width: 85%;
	text-align: center;
	padding: 0 !important;
}
#middleManagement p{
	font-size: 1.2vw !important;
}
#middleManagement .moneySymbol{
	font-size: 2vw;
}
#middleManagement .serviceCost{
	font-size: 3.75vw;
}
#middleManagement .eachMonth{
	font-size: .90vw;
}
#middleManagement li{
	font-size: 1.25vw !important;
}

#middleManagement{
	/* font-size: 17vw !important; */
}

.managementHalf{
	width: 90%;
}

.pricingCont{
	margin-top: 1vw;
}

#webManagement button{
	font-size: 1.15vw;
}

@media only screen and (max-width: 800px) {
	#webDesign {
		background: linear-gradient(-112deg, #eaea97 0, rgb(172 178 193 / 0%) 84%);
		color: black;
	}

	#ecommerce {
		background: linear-gradient(111deg, #66FF94 0, rgb(172 178 193 / 0%) 70%);
		color: black;
	}

	#onlineMarketing {
		background: linear-gradient(-112deg, #DFA4FF 0, rgb(172 178 193 / 0%) 79%);
		color: black;
	}

	#logosBranding {
		background: linear-gradient(117deg, #95C8F4 0, rgb(172 178 193 / 0%) 62%);
		color: black;
	}

	#ecommerce .container, #logosBranding .container { 
		flex-direction: row-reverse;
	}

	.container {
		background: #ffffffe8;
	}

	#services {
		margin-top: 0;
		
	}

	#heroImage{
		height: 83vh;
	}
	#heroImage img {
		width: 60%;
	}
	.homepage-pitch{
		font-size: 4.75vw;
		padding: 2% 4.3%;
		line-height: 112%;
		text-align: left;
		width: fit-content;
		font-weight: 600;
	}
	.serviceTile{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 3% 1.5%;
		/* background-color: unset; */
	}

	.serviceIconContainer img{
		width: 20vw;
		opacity: .9;
	}
	
	.serviceTileContent{
		width: 100%;
		background-color: unset !important;
	}
	.serviceIconContainer {
		background-color: unset;
		width: 23%;
		margin-right: 2%;
		box-shadow: none;
	}



	.serviceTileContent h1{
		font-size: 7vw;
		/* color: rgba(27, 27, 27, 0.6784313725490196); */
		font-weight: 700;
		color: #1b1b1b;
		opacity: .9;
	}

	.serviceTileContent p{
		text-align: end !important;
		opacity: .85;
		line-height: 6vw !important;
		font-size: 4.2vw;
		line-height: 6vw;
	}

	.serviceTileContent a{
		font-size: 4.25vw;
		margin-top: 1vw;
		/* margin-right: 5vw; */
		/* align-self: center; */
		margin-left: vw;
	}

	#webDesign *, #onlineMarketing *{
		text-align: end;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		align-items: center;
	}


	#webDesign .serviceTileContent, #onlineMarketing .serviceTileContent{
		align-items: flex-end;
	}


	align-items: flex-end !important;

	#ecommerce, #logosBranding{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	#ecommerce *, #logosBranding *{
		text-align: start !important;
		-webkit-box-align: start;
		    -ms-flex-align: start !important;
				align-items: flex-start;
		
	}

	#ecommerce p, #logosBranding p{
		/* padding-left: 1vw; */
	}

	#webDesign p, #onlineMarketing p{
		/* padding-right: 1vw; */
		width: 100%;
	}



	.serviceTileContent p{
		text-align: end;
		line-height: 6vw;
		opacity: .85;
		line-height: 4vw;
	}

	#missionBanner h1{
		font-size: 4.25vw;
		padding: 0 2%;
	}
	#missionBanner br{
		display: none;
	}
	
	#goals{
		background-size: 180%;
	}

	#goals div{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: unset;
		    -ms-flex-align: unset;
		        align-items: unset;
	}

	#goals h2{
		font-size: 6.5vw;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, #fff0), color-stop(30%, #ab85763b));
		background: -o-linear-gradient(#fff0 65%, #ab85763b 30%);
		background: linear-gradient(#fff0 65%, #ab85763b 30%);
	}
	#goals p{
		width: 85%;
		min-height: 0;
		background: none;
		color: white;
		/* left: 0; */
		/* margin-right: 17%; */
		margin: 1vw 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
		font-size: 3vw;
		font-weight: 600;
		background-color: #92939a1f;
	}
	#goals p:nth-child(2){
		width: 89%;
		/* padding-left: 35%; */
		text-align: end;
		right: 0;
		-ms-flex-item-align: end;
		    align-self: flex-end;
	}

	.text-highlight{
		font-size: 4vw;
	}

	#ourWork div {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	#ourWork h1{
		font-size: 4vw;
	}

	#ourWork section h1{
		font-size: 3.5vw;
	}
	#ourWork section h2{
		font-size: 3vw;
	}

	#ourWork section{
		width: 44%;
	}

	#openingPitch {
		background-size: 171%;
		padding-top: 2vw;
		padding-bottom: 0;
		background-position: initial;
		margin: auto;
		margin-top: -21vw;
		width: 95%;
		box-shadow: inset #a0a0a0 0.6vw 0.6vw 0vw 0px, #cecece 0.25vw 0.25vw 0.6vw;
		margin-bottom: 6vw;
		background: linear-gradient(163deg, #ffffff 27%, rgb(16 48 128 / 19%) 199%);
	}
	#openingPitch h1 {
		font-size: 8.25vw;
		/* text-align: justify; */
		text-shadow: #c2c3c7 0.4vw 0.3vw;
		padding: 0 4%;
		line-height: 5.75vw;
		width: 85%;
		align-self: start;
		line-height: 9.5vw;
	}
	#homepage-pitch{
		font-size: 3.25vw;
		width: 90%;
		text-shadow: none;
	}
	#services{
		position: unset;
		top: unset;
	}
	

	
	/* #missionBanner {
		margin-top: 4vw;
		margin-bottom: 4vw;
	}

	#webManagement{

	}
	#webManagement h1{
		font-size: 5vw;
	}
	#webManagement h2{
		width: 98%;
		font-size: 3vw;
		text-align: justify;
	}
	#webManagement h3{
		font-size: 4vw;
	}
	#webManagement hr{
		
	}

	#webManagement section section h1{
		font-size: 3.7vw !important;
		text-align: center;
		width: 95%;
		padding: 0;
		min-height: 6vw;
		align-content: center;
		margin: auto;
	}
	#webManagement section{
		flex-direction: column;
	}
	#webManagement section section {
		flex-direction: column;
	}
	#webManagement section section div{
		justify-content: center;
	}
	#webManagement section section p {
		font-size: 2.75vw !important;
		text-align: left;
		width: 85%;
	}
	.managementHalf {
		width: 138vw !important;
		display: flex;
	}
	#webManagement section section ul li {
		font-size: 2.25vw !important;
	}
	.pricingCont {
		flex-direction: row;
		justify-content: center;
		display: flex;
	}
	.eachMonth{
		font-size: 4.45vw !important;
		width: fit-content !important;
		display: flex;
		width: 100% !important;
	}
	.serviceCost {
		font-size: 6vw;
	}
	.moneySymbol{
		
font-size: 5vw;
	} */
	#webManagement section section h1 {
		font-size: 7.25vw !important;
		text-align: left;
		width: 99%;
		align-self: start;
		line-height: 109%;
		margin: 1vw !important;
		font-weight: 500;
		margin-bottom: 1vw;
	}
	#webManagement section section p {
		font-size: 4.4vw !important;
		text-align: left;
		padding-top: 2vw;
		font-weight: 500;
		line-height: 120%;
	}
	#webManagement section section ul {
		width: 95%;
		margin: auto;
	}
	.managementHalf{
		width: 100%;
		/* border-left: solid grey thin; */
	}
	#webManagement section section ul li {
		font-size: 4.4vw !important;
		line-height: 100%;
		margin-bottom: 1.5vw;
		font-weight: 400;
	}
	.serviceCost {
		font-size: 10.8vw !important;
	}
	#webManagement h1 {
		font-size: 6vw;
		width: 100%;
		text-align: center;
		margin-top: 2.5vw;
	}
	#webManagement h3 {
		font-size: 3.5vw;
		width: 93%;
		text-align: left;
		margin-bottom: 5vw;
	}
	#webManagement h2 {
		font-size: 5vw;
		padding: 1vw;
	}
	#webManagement section{
		flex-direction: column;
		width: 98%;
	}
	#webManagement section section {
		width: 100% !important;
		/* flex-direction: row; */
		margin: 2vw 0;
		border-left: solid grey thin;
		border-bottom: solid grey thin;
	}
	.price{
		/* width: initial !important; */
		line-height: 1;
	}
	#webManagement div {
		/* width: 100%; */
		/* height: 100%; */
		align-self: flex-start;
	}
	#webManagement hr {
		width: 94%;
		margin-top: 1vw;
		align-self: start;
	}
	#missionBanner {
		margin: 6vw 0;
	}
	.pricingCont{
		/* width: 34% !important; */
		display: flex;
		/* flex-direction: row !important; */
		/* align-items: flex-end; */
		align-self: flex-end;
		padding: .25vw 1vw;
		padding-left: 2vw;
		/* background-color: #E9EAF2; */
		/* border: #7d7d7d solid thin; */
		border: none;
		margin-right: -.5vw;
		align-self: center !important;
		margin: 3vw;
	}
	.eachMonth {
		font-size: 2.8vw !important;
		/* display: flex; */
		/* width: fit-content !important; */
		/* flex-direction: row; */
		align-self: flex-end !important;
	}
	.managementHalf button{
		margin-top: 2vw;
		font-size: 3vw !important;
		margin-bottom: 2vw;
	}

	.moneySymbol {
		font-size: 5.75vw;
	}
	
  }
