#propBoxes {
    background-image: url("/images/abstractBackground.jpg");
    background-size: cover;
}
#pageOpener{
    display: inline-block;
    margin-left: -5vw;
    margin-top: 0 !important;
}
#pageOpener h2{
    font-size: 2.5vw;
}
.openingPoints div img{
    width: 4.5vw;
    margin-top: -2.8vw;
    margin-right: -1.05vw;
}
.openingPoints{
    display: inline-flex;
    font-size: 1.45vw;
    margin-bottom: 6vw;
    font-weight: 600;
    color: #4B4B4B;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, rgb(243 243 243) 50%, rgb(172 178 193 / 28%) 55%);
    box-shadow: #cacaca 0.2vw 0.2vw 0.3vw;
    margin: 0 6vw;
    padding: 1vw;
    padding-bottom: 2vw;
}
.openingPoints div {
    align-items: stretch;
    margin-top: 2vw;
    align-self: center;
}
#openerTextOne{
    width: 59vw;
}
#openerTextTwo{
    width: 80vw;
}

@media only screen and (max-width: 800px) {
    .bigOlText{
        padding-bottom: 13vw;
        padding-top: 12vw;
        background-size: 175%;
    }
    .bigOlText img{
        width: 95vw;
    }
    .littleOlText{
        font-size: 5vw;
        width: 85vw;
        padding: 3vw;
        background-size: 171%;
        padding-top: 2vw;
        background-position: initial;
        margin: auto;
        margin-top: -6vw;
        box-shadow: inset #a0a0a0 0.6vw 0.6vw 0vw 0px, #cecece 0.25vw 0.25vw 0.6vw;
        margin-bottom: 6vw;
        line-height: 105%;
    }
    .servicesHeader{
        font-size: 6.5vw;
    }
    #pageOpener{
        width: 81vw;
        margin-bottom: 3vw;
        margin-left: -15vw;
    }
    #pageOpener h2{
        font-size: 7.1vw;
        line-height: 120%;
    }
    .openingPoints div img{
        margin-top: -8.8vw;
        margin-right: -1vw;
        width: 10vw;
    }
    .openingPoints{
        margin: 0 2vw 0 4vw;
        padding: 1vw .25vw;
        background: linear-gradient(to bottom right, rgb(243 243 243 / 0%) 17%, rgb(172 178 193 / 48%) 119%);
    }
    .openingPoints div {
        font-size: 4.75vw;
        width: 40vw;
        line-height: 100%;
        text-align: justify;
        margin-bottom: 3vw;
        height: fit-content;
    }
    #openerTextOne{
        width: 95%;
        text-align: left;
        line-height: 100%;
    }
    #openerTextTwo{
        width: 95%;
        font-weight: 500;
        text-align: left;
    }
}