.bigOlText h1{
    font-size: 10vw;
    text-shadow: #6a72a3 0.3vw 0.3vw;
}
.bigOlText h1:nth-child(2){
    text-align: end;
    text-align: right;
}
#captureCustomers h1{
    text-align: center;
    font-size: 3.25vw;
    color: #1b1b1b;
}
#captureCustomers h2{
    text-align: center;
    margin-bottom: 4vw;
    font-size: 3.25vw;
    color: #1c1c1c;
    margin-top: auto;
}
#captureCustomers img{
    width: 11vw;
}
#captureCustomers h2 {
    text-shadow: #90adcc 0.15vw 0.15vw;
}
#serviceTile {
    margin-bottom: 2;
}
#serviceTiles img{
    width: 17%;
    padding: 1vw;
    display: flex;
}
.secondBigText h1{
    font-size: 3.75vw;
    text-shadow: #16495c9c 0.2vw 0.2vw;
    line-height: 100%;
    margin: 2vw 5vw;
}
#serviceTiles {
    width: 70%;
    background-color: white;
    margin: auto;
}
.secondBigText{
    background-image: url("/images/fulfilment.svg");
    background-size: cover;
    background-position: center;
    height: 19vw;
    padding-top: 0;
    padding-bottom: 2vw;
}
.secondLittleText{
    font-size: 1.8vw;
    color: rgb(70, 72, 75);
    width: 90%;
    margin: auto;
    margin-top: -3vw;
    background-color: #ecf3ff;
    padding: .75%;
    padding-top: .75%;
    box-shadow: rgba(0, 0, 0, 0.38) 0.1vw 0.1vw 0.5vw;
    font-weight: 700;
}
#pageOpener{
    width: 32vw;
    /* margin: auto; */
    display: inline-block;
    margin-left: -5vw;
    margin-top: 0 !important;
    margin-bottom: 2vw;
}
#pageOpener h2{
    font-size: 2.5vw;
}
.openingPoints div img{
    width: 4.5vw;
    margin-top: -2.8vw;
    margin-right: -1.05vw;
}
.openingPoints{
    display: inline-flex;
    font-size: 1.5vw;
    margin-bottom: 6vw;
    font-weight: 600;
    color: #4B4B4B;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, rgb(243 243 243) 50%, rgb(172 178 193 / 28%) 55%);
    box-shadow: #cacaca 0.2vw 0.2vw 0.3vw;
    margin: 0 6vw;
    padding: 1vw;
    padding-bottom: 2vw;
}
.openingPoints div {
    width: 22vw;
    align-items: stretch;
    height: fit-content;
    margin-top: 2vw;
}
.serviceBannerText {
    margin-top: -2vw;
}
@media only screen and (max-width: 800px){
    .bigOlText {
        padding-bottom: 3vw;
        padding-top: 10vw;
    }
    .bigOlText h1 {
        font-size: 14vw;
    }
    #serviceTiles {
        width: 98%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #serviceTiles div{
        width: 40%;
    }
    .secondBigText h1{
        font-size: 6vw;
        margin: 2vw;
    }
    .secondBigText{
        padding-top: 2vw;
    }
    #captureCustomers h2 {
        font-size: 5.5vw;
        margin-bottom: 7vw;
    }
    #captureCustomers img {
        width: 20vw;
    }
    .littleOlText {
        font-size: 4.5vw !important;
    }
    #serviceTiles div img {
        width: 80%;
        margin: auto;
    }
    #pageOpener{
        width: 47vw;
        margin-bottom: 3vw;
    }
    #pageOpener h2{
        font-size: 3.75vw;
    }
    .openingPoints div img{
        margin-top: -8.8vw;
        margin-right: -1vw;
        width: 10vw;
    }
    .openingPoints{
        margin: 0 3vw 0 5vw;
        padding: 1vw .25vw;
    }

    .openingPoints div {
        font-size: 3vw;
        width: 37vw;
        margin-bottom: 3vw;
        height: fit-content;
    }

}