.serviceBanner {
    font-size: 6vw;
    line-height: 90%;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 3vw 4vw 8vw 4vw;
    background-image: url(/images/starsBackground.jpg);
    color: whitesmoke;
}

.serviceBannerText {
    color: rgb(70, 72, 75);
    width: 75%;
    margin: auto;
    margin-top: -4vw;
    background-color: #ecf3ff;
    padding: .75%;
    box-shadow: rgba(0, 0, 0, 0.38) 0.1vw 0.1vw 0.5vw;
}
@media only screen and (max-width: 800px) {
    .serviceBanner {
        font-size: 11vw;
        padding-bottom: 10vw;
        padding-top: 26vw;
        background-size: 175%;
    }
    .serviceBannerText{
        font-size: 3.55vw;
        width: 90%;
        padding: 2.5%;
        /* font-weight: 600; */
    }
}