#hosting h1{
    line-height: 100%;
    text-shadow: rgb(144, 173, 204) 0.25vw 0.2vw;
    margin-bottom: .5vw;
}
#hosting h2{
    text-shadow: rgb(144, 173, 204) 0.15vw 0.15vw;
}
#hosting img{
    width: 21vw;
}
#ecommerce{
    padding: 2.5vw 5.5vw;
    background-image: url("/images/minimalBackground4.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
}
#ecommerce div{
    background-color: rgba(255, 255, 255, 0.722);
    padding: 3vw;
}
#ecommerce h1{
    margin-bottom: 1.5vw;
    text-shadow: rgb(144, 173, 204) 0.15vw 0.15vw;
}
.bigOlText {
    line-height: 90%;
}
.bigOlText span{
    font-size: 5.35vw;
    line-height: 125%;
    text-align: left;
    text-shadow: #5a5c61d1 0.2vw 0.2vw;
}
#columbusGaWebDesign p{
    width: 65%;
    text-align: justify;
}
#columbusGaWebDesign h2{
    font-weight: 500;
    font-style: italic;
    margin-bottom: 2vw;
}
#columbusGaWebDesign br{
    display: none;
}
#hosting .button {
    background-color: #ECF3FF;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 0.2vw;
}
#ecommerce .button{
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 1.2vw;
    line-height: 95%;
    background-color: #e4e4e4;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 0.2vw;
}
#pricing_section section{
    width: 40%;
    background-color: #e1edf0;
    padding-bottom: 1vw;
}
#pricing_section section div{
    background: #f4f7fb;
    width: 95%;
    margin: auto;
    padding-top: 0.6vw;
    padding-bottom: 0.8vw;
}
#pricing_section section h1{
    text-align: center;
    font-weight: 400;
    background: #cfdce3c7;
    padding: 1vw;
    margin-bottom: 0.7vw;
    min-height: 2vw;
}
#pricing_section section h2{
    width: 95%;
    margin: auto;
    margin-bottom: 1vw;
    font-size: 1.25vw;
    font-weight: 500;
}
#pricing_section section ul{
    display: block;
    width: 92%;
    margin-left: auto;
    text-align: left;
}
#pricing_section section li{
    width: fit-content;
    font-size: 1.25vw;
    margin-bottom: 0.3vw;
    line-height: 1.8vw;
}
#pricing_section .button{
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 1.75vw;
    line-height: 95%;
    background-color: #dde5e7;
    font-size: 1.25vw;
    font-weight: 600;
    padding: 0.65vw;
    border-radius: 0.2vw;
    /* margin: auto; */
    /* align-self: center; */
    display: block;
    width: fit-content;
    padding-bottom: .5vw;
}
#pricing_section hr{
    display: none;
}
#designSolutions{
    color: white;
    background: url(/images/about-web-design.jpg);
    flex-wrap: wrap;
    background-size: cover;
    padding: 2vw 3vw;
}
#designSolutions section{
    margin: 1vw 0;
}
#designSolutions h1, #designSolutions p{
    background-color: rgb(0 2 31 / 0.65);
}
#designSolutions div{
    width: 90%;
}
#designSolutions div section{
    width: 48%;
    display: flex;
    flex-direction: column;
}
#designSolutions div section h1{
    font-size: 2.25vw;
}
#designSolutions section h1{
    font-size: 2.75vw;
    margin-bottom: .8vw;
    padding: .25vw 1vw;
    width: fit-content;
}
#designSolutions section p{
    font-size: 1.25vw;
    padding: 0.55vw 1vw;
    color: whitesmoke;
}
#reDesign {
    width: 66%;
    background: linear-gradient(to bottom right, rgb(243 243 243 / 14%) 25%, rgb(243 243 243) 50%, rgb(172 178 193 / 28%) 55%);
    box-shadow: #cacaca 0.2vw 0.2vw 0.3vw;
    padding: 1vw 3vw;
}
#reDesign h1{
    font-size: 2vw;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff0 65%, rgb(230 232 236) 30%);
    display: inline;
}
#reDesign p{
    margin: 1.5vw 0;
}
#reDesign .button{
    display: block;
    margin: auto;
    font-weight: 600;
    border-radius: 0.2vw;
    border-bottom: .15vw solid rgba(89, 100, 123, .65);
    color: rgba(0, 0, 0, 0.76);
    cursor: pointer;
    width: fit-content;
    padding: .5vw;
}
#atlantaDesign{
    background-image: url(/images/bg/atlanta-web-designer-services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding: 3vw 7vw;
    color: #EEEEEE;
    text-align: left;
}
#atlantaDesign h1{
    font-size: 3vw;
    width: 70%;
    align-self: start;
    margin-top: 1vw;
    background-color: #222C3C;
    display: inline;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff0 70.1%, #222C3C -9%);
    text-shadow: 0.2vw 0.2vw #222c3c99;
}
#atlantaDesign p{
    font-size: 1.5vw;
    padding: .5vw 1vw;
    color: inherit;
}
#atlantaDesign button{
    margin: auto;
    display: block;
    padding: 0.5vw;
    border: none;
    border-radius: 0.4vw;
    margin-top: 3vw;
    box-shadow: 0.2vw 0.2vw #59647B;
}
#atlantaDesign button a{
    color: rgb(0 0 0 / 0.75);
    font-weight: 600;
}
#atlantaDesign div{
    background: linear-gradient(to bottom right, rgb(0 14 37 / .65) 5%, rgb(58 63 74 / .63) 92%);
    margin-top: 3vw;
}
#hosting p{
    width: 90%;
}

@media only screen and (max-width: 800px) {
    #atlantaDesign button a {
        font-size: 3.25vw;
    }
    #hosting p{
        font-size: 3.5vw;
        margin-bottom: 3vw;
        text-align: left;
    }
    #atlantaDesign br{
        display: none;
    }
    #atlantaDesign h1 br{
        display: initial;
    }
    #atlantaDesign{
        padding: 3vw;
    }
    #atlantaDesign h1{
        font-size: 7vw;
    }
    #atlantaDesign p{
        font-size: 3.7vw;
        padding: 1.75vw;
    }
    #ecommerce p{
        line-height: 100%;
        color: #566673;
        font-weight: 500;
    }
    #ecommerce {
        padding: 3vw 6vw;
        margin-bottom:2vw;
    }
    #ecommerce div{
        padding: 3vw 2.5vw;
    }
    #columbusGaWebDesign div {
        width: 94%;
        padding: 1%;
        border-radius: 1vw;   
        background: #a9a9a91c;
    }
    #ecommerce .button {
        font-size: 3.2vw;
        padding: 1%;
        margin-top: 5%;
    }
    #sectionHeader{
        font-size: 6.5vw;
        margin: 5% 0px 4% 0%;
    }
    .secondBigText{
        padding: 11vw;
        padding-top: 5vw;
        padding-right: 4vw !important;
        padding-left: 3vw !important;
    }
    .secondBigText h1{
        font-size: 6.75vw;
    }
    #hosting img {
        width: 40vw;
        margin-right: 1vw;
    }
    #hosting h1 {
        font-size: 10.5vw;
        font-weight: 700;
    }
    #hosting h2 {
        font-size: 5.25vw;
        font-weight: 500;
    }
    #hosting a {
        font-size: 4vw;
        font-weight: 400;
    }
    #ecommerce h1{
        font-size: 7.5vw;
        line-height: 100%;
    }
    #ecommerce p{
        font-size: 3.65vw;
        padding: 0;
    }
    .options h1 {
        font-size: 7vw;
        text-align: center;
        font-weight: 700;
    }
    .options p {
        font-size: 3.25vw;
        font-weight: 500;
        width: 98%;
        text-align: justify;
        line-height: 4.5vw;
    }
    .sectionHeader {
        font-size: 6.25vw;
        padding: 0 .5vw;
    }
    #columbusGaWebDesign p {
        width: 94%;
        font-size: 3.75vw;
        line-height: 110%;
        margin: 2vw 0;
        text-align: left;
    }
    #columbusGaWebDesign h1{
        font-size: 5.25vw;
        margin-top: 0vw;
    }
    #columbusGaWebDesign h2{
        font-size: 3.5vw;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 2vw;
    }
    #columbusGaWebDesign h2 {
        font-size: 4.25vw;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 0vw;
        color: dimgrey;
    }
    #columbusGaWebDesign br{
        display: initial;
    }
    #pricing_section{
        flex-direction: column;
    }
    #pricing_section section{
        width: 95%;
        margin-bottom: 5vw;
        background: #cfdce34f;
        box-shadow: #0000008a 0.2vw 0.2vw 0.5vw 0vw;
        border-radius: 1%;
    }
    #pricing_section section h1{
        font-size: 5vw;
        line-height: normal;
        background: none;
    }
    #pricing_section section div h2{
        font-size: 3.5vw;
        line-height: 100%;
        margin-bottom: 2vw;
        font-weight: 500;
        text-align: left;
    }
    #pricing_section section li {
        font-size: 3.5vw;
        line-height: 100%;
        margin-bottom: 2vw;
    }
    #pricing_section .button{
        font-size: 3.5vw;
        margin-bottom: 1vw;
        margin-top: 3vw;
    }
    #pricing_section section div{
        background: none;
        margin-top: 2.75vw;
    }
    #pricing_section hr{
        border: #D9D9D9 solid 0.1vw;
        box-shadow: none;
        width: 85%;
        margin: auto;
    }
    #designSolutions{
        padding: 4vw 0;
    }
    #designSolutions div section{
        width: 97%;
        padding-left: 2%;
        border-left: #03063dd4 solid medium;
    }
    #designSolutions div{
        flex-direction: column;
        width: 97%;
    }
    #designSolutions div section h1 {
        font-size: 5.5vw;
        max-width: 78%;
        padding: 2vw;
        line-height: 97%;
    }
    #designSolutions div section p {
        font-size: 3.75vw;
        line-height: 115%;
    }
    #designSolutions section h1 {
        font-size: 6.3vw;
        max-width: 85%;
        padding-left: 2vw;
    }
    #designSolutions section p {
        font-size: 4.5vw;
        padding: 2vw;
        line-height: 115%;
        text-align: left;
    }
    #reDesign {
        width: 90%;
        padding: 1vw 1vw;
    }
    #reDesign br{
        display: none;
    }
    #reDesign h1{
        font-size: 5.5vw;
    }
    #reDesign p{
        font-size: 3.75vw;
        width: 98%;
    }
    #reDesign .button{
        font-size: 3.5vw;
        padding: 1.25vw;
    }
}