#bigOlText {
    background-image: url("../images/minimalBackground.jpg");
    background-size: cover;
    text-align: center;
        font-size: 4.25vw;
        padding-left: 0;
        padding-right: 0;
        padding-right: 0;
        padding-top: 8vh;
        padding-bottom: 22vh;
}

.marketing-service {
    width: 95%;
    margin: auto;
    padding: 2vw 0;
}

.marketing-service h1{
    font-size: 3.25vw;
    padding: 0 2vw;
    line-height: 100%;
}

.marketing-service p{
    font-size: 2vw;
    padding: 0 2vw;
}

#bigOlText h1{
    line-height: 80%;
}