#serviceBanner {
    height: auto;
    background-image: url(../images/minimalBackground.png);
    background-size: 114%;
    background-position: bottom;
}

#serviceImage img{
    width: 67%;
    margin: 2% 5%;
}

#bigOlText img {
    width: 80%;
}



#littleOlText {
    font-size: 2.5vw;
    font-weight: 700;
}

@media only screen and (max-width: 800px) {
    mobileHeader {
        position: unset;
    }
    #bigOlText {
        padding-bottom: 7vw;
    }
    #littleOlText {
        font-size: 4.4vw;
        width: 96%;
    }
    #sectionHeader{
        font-size: 4.5vw;
    }
    #littleOlText {
        font-size: 4.45vw;
    }
    #bigOlText {
        padding-bottom: 5vh;
    }
    #bigOlText img {
        width: 100%;
    }
}