#serviceBanner {
    height: auto;
    background-image: url(../images/minimalBackground.png);
    background-size: 114%;
    background-position: bottom;
}

#serviceImage img{
    width: 70%;
    margin: 2% 5%;
}