/* Footer */
.footerLogo {
	width: 27vw;
	margin: auto;
}

footer .mobile, footer .desktop {
	padding: 2vw 0 2vw 0;
}

.footerContact h3{
	font-size: 1.5vw;
	font-weight: 500;
	line-height: 100%;
	padding-bottom: 1%;
	margin: 0;
}

.footerContact h2{
	font-size: 1.75vw;
	font-weight: 500;
	border-top: .1vw solid white;
	line-height: 100%;
	padding-top: 1%;
	margin: 0;
}

#footerExtend h4{
	color: #e2e2e2;
    font-size: 1.1vw;
    font-weight: 300;
	margin: 0;
	line-height: 110%;
}

.footerPhone, .footerEmail {
	margin: auto;
}

#footerExtend {
	background-color: rgba(10, 10, 10, 0.97);
	padding: .75vw 4vw .75vw 4vw;
	border-top: grey 0.125vw solid;
	overflow: hidden;
	align-items: center;
}

#footerExtend h3{
	color: #e2e2e2;
    font-size: 1.35vw;
    font-weight: 400;
    text-decoration: underline;
    -webkit-text-decoration-color: #ffffff8c;
    text-decoration-color: #ffffff8c;
    margin: 0;

}

#footerExtend div h1{
	color: #e2e2e2;
    font-size: 1.5vw;
	font-weight: 400;
	text-decoration: underline;
	-webkit-text-decoration-color: #ffffff8c;
	        text-decoration-color: #ffffff8c;
	margin: 0;
}

#footerContact h3{
	color: #e2e2e2;
    font-size: 1.35vw;
    font-weight: 400;
    text-decoration: underline;
    -webkit-text-decoration-color: #ffffff8c;
    text-decoration-color: #ffffff8c;
    margin: 0;
}

#footerExtend div a, #footerExtend div h2{
	color: rgba(255, 255, 255, 0.79);
    font-size: 1vw;
	font-weight: 300;
	/* margin-left: .25vw; */
	/* border-left: #e2e2e2 medium solid; */
	/* padding-left: .25vw; */
	margin: 0;
	margin-top: .3vw;
}

/* #footerExtend div:nth-of-type(1){
	padding-right: 30vw;
} */

#footerExtend div:nth-of-type(2){
	text-align: right;
	width: 15vw;
	align-self: flex-start;
}
#footerExtend div:nth-of-type(3){
	text-align: right;
}
#footerExtend div:nth-of-type(4){
	text-align: right;
}

#footerExtend div:nth-of-type(2) a{
	line-height: 100%;
}

@media screen and (max-width: 800px) {
	.space-around{
        justify-content: space-around !important;
    }
	footer .mobile{
		padding: 4vw 0;
	}

	footer div{
		width: 65%;
	}
	.footerLogo {
		width: 17vw;
		margin: unset;
	}
	.footerPhone, .footerEmail {
		width: auto;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin: 3vw auto 3vw auto;
	}
	.footerContact h3{
		font-size: 4.8vw;
		margin-right: 3vw;
		padding-bottom: 0;
	}
	
	.footerContact h2{
		font-size: 4.75vw;
		border: none;
		padding-top: 0;
		padding: .5vw
	}

	#footerExtend {
		height: 50vh;
		background-color: #0d0d0ded;
		border-top: grey 0.25vw solid;
		display: none;
	}



	
}