/* Footer */
.footerLogo {
	width:30vw;
	margin: auto;
}

footer .mobile, footer .desktop {
	padding: 2vw 0 2vw 0;
}

.footerContact h3{
	font-size: 2vw;
	font-weight: 500;
	line-height: 100%;
	padding-bottom: 1%;
	margin: 0;
}

.footerContact h2{
	font-size: 2.25vw;
	font-weight: 500;
	border-top: .1vw solid white;
	line-height: 100%;
	padding-top: 1%;
	margin: 0;
}

.footerPhone, .footerEmail {
	margin: auto;
}

#footerExtend {
	height: 30vh;
	background-color: #0d0d0ded;
}

@media screen and (max-width: 800px) {
	.footerLogo {
		width: 20vw;
		margin: unset;
	}
	.footerPhone, .footerEmail {
		width: 60vw;
		flex-direction: row;
		justify-content: flex-start;
		margin: 3vw 0 3vw 0;
	}
	.footerContact h3{
		font-size: 5vw;
		margin-right: 3vw;
		padding-bottom: 0;
	}
	
	.footerContact h2{
		font-size: 5.25vw;
		border: none;
		padding-top: 0;
	}

	#footerExtend {
		height: 50vh;
		background-color: #0d0d0ded;
	}
}