/* Header */
#headerLogo img {
	width: 6vw;
	padding-right: 4vw;
}
#headerLogo{
	padding-right: 22vw;
}

header li{
	display: flex;
	margin: auto;
}

header a {
	font-size: 2vw;
	text-decoration: none;
	background-color: #0d0d0d;
	padding: 0 .5vw .5vw .5vw;
	z-index: 100;
	font-weight: 500;
}

.desktop #headerLogo img {
	padding: .5vw 10vw .5vw 0;
}



mobileHeader{
	display: none !important;
}

.mobileServiceIcon {
	display: none;
}

#mobileContactHeader {
	display: none;
}
.toggle {
    height: 8.5vh !important;
}



header ul li ul {
	position: absolute;
	height: 0;
	overflow: hidden;
	transition: .65s height;
	padding-top: 4vw;
	margin-left: .25vw;
	padding-left: .5vw;
	background-color: #0d0d0d;
}

header ul li ul li{
	display: flex;
	flex-direction: column;
	border-left: solid #ffffffb8 thin;
	padding: .5vw;
}

header ul li ul li a{
	font-weight: 400;
	font-size: 2vw;
}

header ul li:hover ul{
	height: 16vw;
}

@media screen and (max-width: 800px) {
    .mobile a {
		font-size: 6vw;
		padding-right: 7vw;
		background-color: unset;

		text-decoration: none;
    }
    
	#headerLogo img{
		width: 4vw;
	}
	

	#headerLogo img{
		width: 16vw;
		/* padding: 4vw; */
		padding-left: 2vw;
		margin-bottom: -2vw;
	}

	.mobile{
		text-align: right;
		position: absolute;
		width: 100%;
	}

	#toggle{
		font-size: 12vw;
		padding-right: 2vw;
	}

	#mobileHeaderLinks {
		display: contents;
		font-size: 7.5vw;
		height: 0;
		/* padding-right: 2vw; */
		opacity: .5;
	}

	.mobileHeaderLinks {
		line-height: 150%;
		/* display: none; */
		font-size: inherit;
		height: inherit;
		overflow: hidden;
		transition: height .5s;
		padding-right: 4vw;
		background-color: #000000d4;
		/* padding-bottom: 3vw; */
	}

}