#hero .bigOlText {
    background-image: none;
    background: none !important;
    padding: 0;
}
#hero{
    background-image: url(/images/bg/atlanta-web-designer-award.svg);
    background-size: 100%;
    color: white;
    padding: 0 11vw;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 41vw;
    justify-content: center;
    
}
#hero span{
    font-size: 5.5vw;
    margin: 0;
    display: block;
    width: fit-content;
    background-color: #00000094 !important;
}
#hero h1{
    background-color: #00000094 !important;
    width: fit-content;
    padding: .7vw;
    margin-bottom: 3vw;
    text-shadow: #5a5c61d1 0.2vw 0.2vw;
}

#hero p{
    background-color: #00000094;
    padding: 1vw;
    font-size: 1.75vw;
    width: 94%;
    padding: 1vw;
    margin-bottom: 1vw;
}

#diverseMarkets{
    width: 90%;
    margin: 3vw auto;
}
#diverseMarkets h1{
    font-size: 3vw;
    width: 68%;
    margin-bottom: 3vw;
}

#diverseMarkets p{
    font-size: 2vw;
    margin-bottom: 1.5vw;
    line-height: 100%;
}

@media only screen and (max-width: 800px) {
    #hero{
        background-image: url(/images/bg/atlanta-web-designer-award-mobile.svg);
        height: 111vw;
        padding: 0 7vw;
    }
    #hero span{
        font-size: 7vw;
        background: none !important;
    }
    #hero h1{
        margin-bottom: 6vw;
        background-color: #00000057 !important;
        text-align: left;
    }
    #hero p{
        margin-bottom: 3vw;
        font-size: 3.7vw;
        width: 96%;
        text-align: justify;
    }

    #diverseMarkets{
        margin: 3vw auto;
        width: 97%;
    }
    #diverseMarkets h1 {
        font-size: 4.75vw;
        width: 100%;
        margin-bottom: 3vw;
        font-weight: 800;
        /* line-height: 100%; */
        text-shadow: 0.1vw 0.1vw #c26f00;
    }
    #diverseMarkets p {
        font-size: 3.5vw;
        margin-bottom: 1.5vw;
        line-height: 100%;
        font-weight: 400;
        width: 97%;
        margin: 1vw auto;
    }
}