.bigOlText {
    background-image: url("/images/starsBackground.jpg");
    padding: 2vw 0 5vw 0;
}

.bigOlText img{
    width: 60vw;    
}

.bigOlText h1:nth-child(2){
    text-align: end;
    margin-top: 2vw;
}

#propBoxes {
    background-image: url("/images/starsBackground.jpg");
}

@media only screen and (max-width: 800px) {
    .bigOlText{
        padding-bottom: 6vw;
    }
    .bigOlText img{
        width: 95vw;
    }
    .littleOlText{
        font-size: 4vw;
        width: 92vw;
    }
    #servicesHeader{
        font-size: 6.5vw;
    }
}