header .mobile {
    position: unset !important;
}



.sectionHeader {
    width: auto;
    font-size: 2.15vw;
    color: #1d1d1d;
    text-shadow: grey 0.05vw 0.05vw;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff0 65%, rgb(230 232 236) 30%);
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-align: center;
    display: inline;
    /* box-shadow: red 1vw 1vw; */
}

.bigOlText {
    padding: 4vw 12vw 7vw 12vw;
    background-color: rgba(0,0,0,.95);
    background-position: initial;
    background-size: cover;
}

.bigOlText img{
    width: 45vw;
    margin: auto;
    padding: 1%;
    height: 100%;
}


.bigOlText h1:nth-child(2){
    text-align: end;
    margin-top: 5vw;
    text-align: right;
}


.littleOlText {
    font-size: 1.6vw;
    color: rgb(70, 72, 75);
    width: 90%;
    margin: auto;
    margin-top: -3vw;
    background-color: #ecf3ff;
    padding: .75%;
    padding-top: .75%;
    box-shadow: rgba(0, 0, 0, 0.38) 0.1vw 0.1vw 0.5vw;
    font-weight: 700;
    margin-bottom: 1vw;
}

#servicesList {
    justify-content: center;
    -webkit-justify-content: center;
    width: 90%;
    margin: auto;
}

#servicesList li {
    margin: 1% 1%;
    font-weight: 500;
    font-size: 1.6vw;
    color: rgb(70, 72, 75);
    background-color: rgba(130, 172, 215, 0.271);
    padding: .5%;
    display: flex;
    box-shadow: rgba(35, 43, 59, 0.722) 0.2vw 0.2vw;
    border-radius: 0.2vw;
}

.servicesHeader {
    width: fit-content;
    font-size: 2.5vw;
    color: #1d1d1d;
    text-shadow: grey 0.05vw 0.05vw;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff 65%, rgba(172,178,193,0.3) 30%);
    margin: auto;
    margin-bottom: 2vw;
    margin-top: 2vw;
}




#propBoxes {
    font-size: 2.75vw;
    padding-top: 5vh;
    margin-top: 4vw;
    padding-bottom: 10vh;
    color: #ecf3ff;
    background-color: rgba(0,0,0,.95);
    text-shadow: rgb(36, 36, 36) 0px 0px 10px, rgb(109, 110, 163) 0px 0px, rgb(109, 110, 163) 1px 1px, rgb(109, 110, 163) 2px 2px, rgb(109, 110, 163) 3px 3px;
}
#propBoxes div{
    align-items: unset;
}

#propBoxes p{
    width: 28%;
    /* text-align: justify; */
    background: rgba(80, 74, 117, 0.76);
    text-shadow: none;
    color: rgba(255, 255, 255, 0.859);
    padding: 0.6%;
    font-size: 1.4vw;
    font-weight: 500;
    text-shadow: rgb(27, 27, 27) 0.1vw 0.1vw;
    box-shadow: rgb(111, 220, 200) 0.4vw 0.4vw 0vw;
    border-radius: 0.2vw;
}


#propBoxes .servicesHeader {
    width: fit-content;
    font-size: 2.75vw;
    color: #ffffff;
    text-shadow: #6a72a3 0.17vw 0.17vw 0;
    box-shadow: none;
    background: none;
    margin: auto;
    margin-bottom: 1.8vw;
    /* margin-top: 3vw; */
}









@media only screen and (max-width: 800px) {
    
    #propBoxes {
        flex-direction: column;
        align-items: center !important;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    #propBoxes .servicesHeader{
        font-size: 7vw;
    }
    #propBoxes div{
        flex-direction: column;
        align-items: center;
    }
    #propBoxes p{
        font-size: 4.25vw;
        width: 92vw;
        margin: 2vw;
        padding: 1.5vw;
    }
    #servicesList{
        justify-content: space-evenly;
        width: 97vw;
        margin: auto;
    }
    #servicesList li{
        font-size: 4.5vw;
        width: auto;
        margin: 1% 1%;
    }
    .sectionHeader{
        font-size: 6.5vw;
    } 
}