article{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

article h1{
    font-size: 2.75vw;
    padding-bottom: 1vw;
    color: #1b1b1b;
}

article p{
    font-size: 1.75vw;
    text-align: justify;
    font-weight: 600;
    /* margin-left: 1vw; */
    color: #333333;
}

article a{
    font-size: 2vw;
    padding-top: 1vw;
    /* margin-left: 2vw; */
}