#serviceBanner {
    height: auto;
    background-image: url(../images/minimalBackground.png);
    background-size: 114%;
    background-position: bottom;
}

#serviceImage img{
    width: 67%;
    margin: 2% 5%;
}

.bigOlText img {
    width: 58vw;
    margin: unset;
}

.bigOlText {
    background-image: url("/images/starsBackground.jpg");
    color: white;
    font-size: 8.4vw;
}



.littleOlText {
    font-size: 2vw;
    font-weight: 700;
    position: relative;
}

#serviceTiles {
    justify-content: space-between;
    width: 98%;
    margin: auto;
    /* margin-bottom: 7vw; */
    align-items: baseline;
}

#serviceTiles section {
    width: 30%;
    padding: 1% 1%;
    background-color:rgba(88, 100, 125, 0.15);
    border-radius: .2vw;
    box-shadow: grey .1vw .1vw .2vw;
    margin-top:1vw;
    min-height: 8vw;
    /* height: 26vw; */
    margin-bottom: 1vw;
}
#serviceTiles h1 {
    margin-bottom: 2%;
    font-size: 1.95vw;
    color: #232b3b;
}

#serviceTiles p{
    margin-left: 1%;
    text-align: justify;
    font-size: 1.35vw;
    font-weight: 500;
    line-height: 134%;
}

#serviceTiles a {
    margin: auto;
    padding-top: 1vw;
    font-size: 1.5vw;
    float: right;   
}
#hosting{
    padding: 1vw 5vw 1vw 5vw;
    background-size: 48%;
    background-position: left;
    background-repeat: no-repeat;
    justify-content: center;
}
#hosting h1{
    font-size: 9vw;
    line-height: 100%;
    text-shadow: #90adcc 0.3vw 0.3vw;
}
#hosting h2{
    font-size: 4.75vw;
    line-height: 100%;
    text-shadow: #90adcc 0.1vw 0.1vw;
}

#hosting img{
    width: 30vw;
}

#hosting a{
    font-size: 2.5vw;
    /* line-height: 60%; */
    margin-top: 2vw;
}

#ecommerce{
    padding: 2vw 2vw 2vw 2vw;
    background-image: url("/images/minimalBackground4.jpg");
    background-size: 100%;
    background-position: center;
}
#ecommerce div{
    background-color: #ffffffb8;
    padding: 2vw;
}

#ecommerce h1{
    font-size: 5.25vw;
    margin-bottom: 1vw;
    color: #1b1b1b;
    text-shadow: #90adcc 0.15vw 0.15vw;
}

#ecommerce p{
    font-size: 3.25vw;
    padding-left: 6vw;
    color: #1b1b1b;
}

.options {
    padding: 2vw 4vw;
    padding-top: 0;
}

.options h1 {
    font-size: 4.5vw;
    font-weight: 700;
}
.options p {
    font-size: 2vw;
    font-weight: 500;
    width: 70vw;
}

.bigOlText {
    font-size: 7vw;
    line-height: 90%;
    width: auto;
    text-align: center;
    text-shadow: #4b548a 0.3vw 0.3vw;
}
.secondBigText {
    text-align: unset;
    text-shadow: #4b548a 0.25vw 0.25vw;
    padding: 5vw;
    padding-top: 2vw;
    font-size: 3vw;
    height: 15vw;
    justify-content: space-around;
}
.secondBigText p{text-align: left;width: 95%;line-height: 120%;font-weight: 600;text-shadow: #67759891 0.1vw 0.1vw;}
.secondBigText h1:nth-child(2) {
    text-align: end;
    margin-top: 0;
    text-align: right;
}

.bigOlText span{
    font-size: 4vw;
    line-height: 125%;
    text-align: left;
    text-shadow: #5a5c61 0.25vw 0.25vw;
}

@media only screen and (max-width: 800px) {
    mobileHeader {
        position: unset;
    }
    
    .littleOlText {
        font-size: 4.4vw;
        width: 96%;
    }
    #sectionHeader{
        font-size: 6.5vw;
        margin: 5% 0px 4% 0%;
    }
    .littleOlText {
        font-size: 4.15vw;
        text-align: center;
    }
    .bigOlText {
        padding-bottom: 7vw;
        padding-top: 4vw;
        padding-left: 3vw;
        padding-right: 10vw;
    }
    .bigOlText img {
        width: 100%;
    }

    #serviceTiles{
        /* flex-direction: column; */
    }

    #serviceTiles h1{
        font-size: 3.1vw;
    }

    #serviceTiles div{
        width: 45%;
        margin-bottom: 5vw;
    }

    #serviceTiles p{
        font-size: 2.7vw;
        font-weight: 500;
        /* padding-bottom: 2vw; */
        text-align: left;
    }

    .secondBigText{
        padding-right: 2vw !important;
        padding-left: 2vw !important;
        height: 18vw;
        padding-bottom: 4vw;
    }

    .secondBigText h1{
        font-size: 5.75vw;
    }

    .secondLittleText {
        display: none;
    }

    #hosting img {
        width: 40vw;
    }
    #hosting h1 {
        font-size: 12vw;
        font-weight: 700;
    }
    #hosting h2 {
        font-size: 6vw;
        font-weight: 500;
    }
    #hosting a {
        font-size: 4vw;
        font-weight: 400;
    }
    #ecommerce h1{

    }
    #ecommerce p{
        
    }



    .options h1 {
        font-size: 7vw;
        text-align: center;
        font-weight: 700;
    }
    .options p {
        font-size: 3.25vw;
        font-weight: 500;
        width: 98%;
        text-align: justify;
        line-height: 4.5vw;
    }


    .sectionHeader {
        font-size: 4.5vw;
    }

}