#serviceBanner {
    height: auto;
    background-image: url(../images/minimalBackground.png);
    background-size: 114%;
    background-position: bottom;
}

#serviceImage img{
    width: 67%;
    margin: 2% 5%;
}

.bigOlText img {
    width: 58vw;
    margin: unset;
}

.bigOlText {
    background-image: url("/images/starsBackground.jpg");
    color: white;
}

.secondLittleText{
    margin-top: 0;
    background: none;
    box-shadow: none;
}

#serviceTiles {
    justify-content: space-between;
    width: 95%;
    margin: auto;
    /* margin-bottom: 7vw; */
    /* align-items: center; */
    /* align-self: center; */
    /* display: flex;*/
    margin-bottom: 1.5vw;
}

#serviceTiles section {
    width: 20.5%;
    padding: 1% 1%;
    background-color: rgba(88, 100, 125, 0.15);
    border-radius: .2vw;
    box-shadow: grey 0.1vw 0.1vw 0.2vw;
    margin-top: 1vw;
    /* min-height: 8vw; */
    /* height: 26vw; */
    margin-bottom: 1vw;
    text-align: justify;
}
#serviceTiles h1 {
    margin: 0;
    margin-bottom: 2%;
    font-size: 1.65vw;
    color: rgb(69, 93, 111)
}

#serviceTiles p{
    margin: 0;
    margin-left: 1%;
    /* text-align: justify; */
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 100%;
    white-space: break-spaces;
    opacity: .8;
    color: rgb(46, 46, 47);
}

#serviceTiles a {
    margin: auto;
    padding-top: 1vw;
    font-size: 1.5vw;
    float: right;   
}
#hosting{
    /* padding: 3vw 8vw 3vw 5vw; */
    background-size: 48%;
    background-position: left;
    background-repeat: no-repeat;
    justify-content: center;
    padding-bottom: 4vw;
}
#hosting h1{
    font-size: 7vw;
    line-height: 100%;
    text-shadow: rgb(144, 173, 204) 0.25vw 0.2vw;
    margin-bottom: .5vw;
}
#hosting h2{
    font-size: 2.75vw;
    line-height: 100%;
    text-shadow: rgb(144, 173, 204) 0.15vw 0.15vw;
}

#hosting img{
    width: 23vw;
    margin-right: 8vw;

}

#hosting a{
    font-size: 2.5vw;
    /* line-height: 60%; */
    margin-top: 2vw;
}

#ecommerce{
    padding: 2.5vw 3.5vw 2.5vw 3.5vw;
    background-image: url("/images/minimalBackground4.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
}
#ecommerce div{
    background-color: rgba(255, 255, 255, 0.722);
    padding: 3vw;
}

#ecommerce h1{
    font-size: 5.25vw;
    margin-bottom: 3vw;
    font-size: 4vw;
    margin-bottom: 2vw;
    color: #1b1b1b;
    text-shadow: rgb(144, 173, 204) 0.15vw 0.15vw;
}

#ecommerce p{
    font-size: 2.25vw;
    padding-left: 6vw;
    font-size: 1.85vw;
    padding-left: 0;
    color: #1b1b1b;
    /* padding: 2vw; */
    padding-bottom: 2vw;
}

.options {
    padding: 2vw 4vw;
    padding-top: 0;
}

.options h1 {
    font-size: 4.5vw;
    font-weight: 700;
}
.options p {
    font-size: 2vw;
    font-weight: 500;
    width: 70vw;
}

.bigOlText {
    font-size: 7.5vw;
    line-height: 90%;
    width: auto;
    text-align: center;
    text-shadow: #4b548a 0.25vw 0.25vw;
    margin: 0;
    padding: 5vw 4vw 10vw 4vw;
}
.secondBigText {
    text-align: unset;
    text-shadow: #4b548a 0.25vw 0.25vw;
    padding: 7vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    font-size: 2.75vw;
    height: 18vw;
    justify-content: space-around;
}
.secondBigText p{
    text-align: left;
    width: 100%;
    line-height: 120%;
    font-weight: 600;
    text-shadow: rgba(103, 117, 152, 0.57) 0.075vw 0.075vw;
}

.secondBigText h1:nth-child(2) {
    text-align: end;
    margin-top: 0;
    text-align: right;
}

.bigOlText span{
    font-size: 3.35vw;
    line-height: 125%;
    text-align: left;
    text-shadow: #5a5c61d1 0.2vw 0.2vw;
    margin-bottom: 1.5vw;
}

#columbusGaWebDesign p{
    width: 75%;
    font-size: 1.55vw;
    margin-bottom: 3vw;
    text-align: justify;
}

#columbusGaWebDesign h1{
    font-size: 2.25vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

#columbusGaWebDesign h2{
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 2vw;
}

#columbusGaWebDesign br{
    display: none;
}


#hosting>div {
    padding: 3vw 8vw 0 5vw;
}

#hosting .button {
    background-color: #ECF3FF;
    font-size: 1.7vw;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 0.2vw;
    line-height: 95%;
}

#ecommerce .button{
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 1.75vw;
    line-height: 95%;
    background-color: #e4e4e4;
    font-size: 1.7vw;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 0.2vw;
}

#pricing_section{

}

#pricing_section section{
    width: 41%;
    background-color: #e1edf0;
    padding-bottom: 1vw;
}
#pricing_section section div{
    background: #f4f7fb;
    width: 95%;
    margin: auto;
    padding-top: 0.6vw;
    padding-bottom: 0.8vw;
}
#pricing_section section h1{
    font-size: 2.2vw;
    text-align: center;
    font-weight: 400;
    background: #cfdce3c7;
    padding: 1vw;
    line-height: 2.4vw;
    margin-bottom: 0.7vw;
    min-height: 2vw;
}

#pricing_section section h2{
    width: 95%;
    margin: auto;
    margin-bottom: 1vw;
    font-size: 1.5vw;
}
#pricing_section section ul{
    display: block;
    width: 92%;
    margin-left: auto;
}
#pricing_section section li{
    width: fit-content;
    font-size: 1.5vw;
    margin-bottom: 0.3vw;
    line-height: 1.8vw;
}
#pricing_section .button{
    text-shadow: none;
    text-align: center;
    margin: auto;
    margin-top: 1.75vw;
    line-height: 95%;
    background-color: #dde5e7;
    font-size: 1.7vw;
    font-weight: 600;
    padding: 0.65vw;
    border-radius: 0.2vw;
    /* margin: auto; */
    /* align-self: center; */
    display: block;
    width: fit-content;
    padding-bottom: .5vw;
}

#openingSection{
    background: linear-gradient(to bottom right, rgb(236 243 255 / 27%) 50%, rgb(249 249 249) 55%);
    box-shadow: #cacaca 0.2vw 0.2vw 0.3vw, #e8e8e8 -0.1vw 0vw 0.3vw;
    width: 85%;
    margin: auto;
    padding-bottom: 3vw;
    margin-top: 3vw;
}

#pricing_section hr{
    display: none;
}

#designSolutions{
    color: white;
    background: url(/images/about-web-design.jpg);
    flex-wrap: wrap;
    background-size: cover;
    /* height: 47vh; */
    padding: 1vw;
    margin-top: 2.5vw;
}

#designSolutions section{
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

#designSolutions h1, #designSolutions p{
    background-color: rgb(0 2 31 / 0.65);
}

#designSolutions div{
    width: 90%;
    /* margin-bottom: 1vw; */
}

#designSolutions div section{
    width: 48%;
    display: flex;
    flex-direction: column;
}

#designSolutions div section h1{
    font-size: 2.5vw;
}

#designSolutions section h1{
    font-size: 3.5vw;
    margin-bottom: .8vw;
    padding: .25vw 1vw;
    width: fit-content;
}

#designSolutions section p{
    font-size: 1.6vw;
    font-weight: 500;
    text-align: left;
    padding: 0.55vw 1vw;
}

#reDesign {
    width: 75%;
    margin: 2vw auto;
    background: linear-gradient(to bottom right, rgb(243 243 243 / 14%) 25%, rgb(243 243 243) 50%, rgb(172 178 193 / 28%) 55%);
    box-shadow: #cacaca 0.2vw 0.2vw 0.3vw;
    padding: 1vw 3vw;
}
#reDesign h1{
    font-size: 3vw;
    box-shadow: #59647b 0vw 0.1vw;
    background: linear-gradient(#fff0 65%, rgb(230 232 236) 30%);
    margin-top: 1vw;
    display: inline;
}
#reDesign p{
    font-size: 2vw;
    width: 94%;
    margin: auto;
    line-height: 100%;
    color: #272727;
    margin-top: 1.5vw;
    margin-bottom: 2vw;
    font-weight: 500;
    line-height: 95%;
}
#reDesign .button{
    display: block;
    text-shadow: none;
    text-align: center;
    margin: auto;
    background-color: #e4e4e4d6;
    font-size: 3.5vw;
    font-weight: 600;
    padding: 1.25vw;
    border: none;
    border-radius: 0.2vw;
    border-bottom: .15vw solid rgba(89, 100, 123, .65);
    color: rgba(0, 0, 0, 0.76);
    cursor: pointer;
    width: fit-content;
}

@media only screen and (max-width: 800px) {
    
    #ecommerce p{
        line-height: 100%;
        color: #566673;
        font-weight: 500;
    }
    #ecommerce {
        padding: 6vw;
        margin-bottom:2vw;
    }
    #ecommerce div{
        padding: 3vw 2.5vw;
    }
    #columbusGaWebDesign div {
        width: 94%;
        padding: 1%;
        border-radius: 1vw;   
        background: #a9a9a91c;
    }

    #ecommerce .button {
        font-size: 3.2vw;
        padding: 1%;
        margin-top: 5%;
    }

    #serviceTiles section {
        width: 47%;
        padding: .75%;
    }

    mobileHeader {
        position: unset;
    }
    
    #sectionHeader{
        font-size: 6.5vw;
        margin: 5% 0px 4% 0%;
    }
    
    .bigOlText {
        font-size: 14vw;
        font-size: 16vw !important;
        padding-bottom: 18vw;
        padding-top: 12vw;
        background-size: 175%;
    }

    .bigOlText span {
        font-size: 6.5vw;
    }

    .bigOlText img {
        width: 100%;
        height: 100%;
    }

    #serviceTiles{
        /* flex-direction: column; */
    }

    #serviceTiles h1{
        font-size: 5vw;
    }

    #serviceTiles div{
        width: 45%;
        margin-bottom: 5vw;
    }

    #serviceTiles p{
        font-size: 3.5vw;
        font-weight: 500;
        /* padding-bottom: 2vw; */
        text-align: left;
        width: 95%;
        margin: auto;
    }

    .secondBigText{
        padding-right: 4vw !important;
        padding-left: 3vw !important;
        height: 31vw;
        padding-bottom: 7vw;
    }

    .secondBigText h1{
        font-size: 6.75vw;
    }

    .secondLittleText {
        display: none;
    }

    #hosting img {
        width: 40vw;
        margin-right: 1vw;
    }
    #hosting h1 {
        font-size: 10.5vw;
        font-weight: 700;
    }
    #hosting h2 {
        font-size: 5.25vw;
        font-weight: 500;
    }
    #hosting a {
        font-size: 4vw;
        font-weight: 400;
    }
    #ecommerce h1{
        font-size: 7.5vw;
        line-height: 100%;
    }
    #ecommerce p{
        font-size: 3.65vw;
        padding: 0;
    }



    .options h1 {
        font-size: 7vw;
        text-align: center;
        font-weight: 700;
    }
    .options p {
        font-size: 3.25vw;
        font-weight: 500;
        width: 98%;
        text-align: justify;
        line-height: 4.5vw;
    }


    .sectionHeader {
        font-size: 6.25vw;
        padding: 0 .5vw;
    }

    #columbusGaWebDesign p {
        width: 98%;
        font-size: 3.6vw;
        line-height: 110%;
        margin: 2vw 0;
        text-align: justify;
    }
    
    #columbusGaWebDesign h1{
        font-size: 5.25vw;
        margin-top: 0vw;
    }
    
    #columbusGaWebDesign h2{
        font-size: 3.5vw;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 2vw;
    }

    #columbusGaWebDesign h2 {
        font-size: 4.3vw;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 0vw;
        color: dimgrey;
    }

    #columbusGaWebDesign br{
        display: initial;
    }

    #pricing_section{
        flex-direction: column;
    }

    #pricing_section section{
        width: 95%;
        margin-bottom: 5vw;
        background: #cfdce34f;
        box-shadow: #0000008a 0.2vw 0.2vw 0.5vw 0vw;
        border-radius: 1%;
    }
    
    #pricing_section section h1{
        font-size: 5vw;
        line-height: normal;
        background: none;
    }

    #pricing_section section div h2{
        font-size: 3.5vw;
        line-height: 100%;
        margin-bottom: 2vw;
        font-weight: 500;
    }

    #pricing_section section li {
        font-size: 3.5vw;
        line-height: 100%;
        margin-bottom: 2vw;
    }

    #pricing_section .button{
        font-size: 5vw;
        margin-bottom: 1vw;
        margin-top: 3vw;
    }

    #columbusGaWebDesign {
        margin-bottom: 2vw;
    }
    #pricing_section section div{
        background: none;
        margin-top: 2.75vw;
    }
    #pricing_section hr{
        border: #D9D9D9 solid 0.1vw;
        box-shadow: none;
        width: 85%;
        margin: auto;
    }

    #designSolutions{
        padding: 4vw 0;
    }

    #designSolutions div section{
        width: 97%;
        padding-left: 2%;
        border-left: #03063dd4 solid medium;
    }

    #designSolutions div{
        flex-direction: column;
        width: 97%;
    }

    #designSolutions div section h1 {
        font-size: 7vw;
        max-width: 65%;
        padding: 2vw;
        line-height: 97%;
    }

    #designSolutions div section p {
        font-size: 3.75vw;
        line-height: 115%;
    }

    #designSolutions section h1 {
        font-size: 7.5vw;
        max-width: 85%;
        padding-left: 2vw;
    }

    #designSolutions section p {
        font-size: 4.5vw;
        padding: 2vw;
        line-height: 115%;
    }

    #reDesign {
        width: 95%;
        padding: 1vw 1vw;
    }
    #reDesign br{
        display: none;
    }
    #reDesign h1{
        font-size: 6vw;
    }
    #reDesign p{
        font-size: 3.7vw;
        width: 98%;
        margin-top: 2.25vw;
        margin-bottom: 2.25vw;
    }
    #reDesign .button{
        
    }

}